Repository gabrielfofonka98/neo-aios: changes, and which pre-commit hooks are due for each by the changed paths.
All: aios-security-scan, pytest-check

Path conditions:
  aios-security-scan: any of: \.py$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  dist/|
  build/|
  \.aios/session-state\.json
)

  pytest-check: any of: ^(src|tests)/.*\.py$ and \.py$ and not ((?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  dist/|
  build/|
  \.aios/session-state\.json
)
)

feat: add hook system for agent persistence and scope enforcement
  .claude/hooks/README.md
  .claude/hooks/agent-delegation-tracker.sh
  .claude/hooks/post-response-update.sh
  .claude/hooks/pre-prompt-context.sh
  .claude/hooks/restore-agent-state.sh
  .claude/hooks/scope-enforcer.sh
  .claude/settings.json
Due: none

docs: update README with complete agent catalog and installation guide
  README.md
Due: none

feat: add installer scripts for NEO-AIOS
  scripts/install.sh
  scripts/neo-init.py
Due: aios-security-scan

feat: add Opus 4.6 support with adaptive thinking, effort levels, and agent teams
  .aios-custom/STANDARDS.md
  .claude/CLAUDE.md
  .claude/rules/agent-teams.md
  .claude/rules/effort-levels.md
  .claude/rules/model-config.md
  .gitignore
  agents/quinn/SKILL.md
  scripts/neo-init.py
Due: aios-security-scan

fix: correct neo-init directory bug and add skills to copy targets
  scripts/install.sh
  scripts/neo-init.py
Due: aios-security-scan

feat: add permissions, language, sandbox config and setup directory
  .claude/settings.json
  .claude/setup/settings.json
  scripts/neo-init.py
Due: aios-security-scan

feat: add utility commands, config templates, plugins, and agent-to-skills install
  .aios-custom/config/credentials.template.yaml
  .aios-custom/config/deployment-strategy.yaml
  .aios-custom/config/session-config.yaml
  .claude/settings.json
  .claude/skills/clear-agent/SKILL.md
  .claude/skills/commit/SKILL.md
  .claude/skills/deploy/SKILL.md
  .claude/skills/handoff/SKILL.md
  .claude/skills/pr/SKILL.md
  .claude/skills/push/SKILL.md
  .claude/skills/review/SKILL.md
  .claude/skills/sync-icloud/SKILL.md
  .claude/skills/sync/SKILL.md
  .claude/skills/test/SKILL.md
  scripts/neo-init.py
Due: aios-security-scan

chore: remove duplicates, consolidate config to .aios-custom/
  .aios-custom/config/quality-gates.yaml
  agents/squad-creator/oalanicolas.md
  agents/squad-creator/pedro-valerio.md
  agents/squad-creator/sop-extractor.md
  agents/squad-creator/squad-architect.md
  agents/squad-creator/squad-diagnostician.md
  config/core-config.yaml
  config/credentials.yaml.example
  docs/STANDARDS.md
Due: none

fix: installer now chains to neo-init, populates project directory
  scripts/install.sh
  scripts/neo-init.py
Due: aios-security-scan

fix: replace deprecated datetime.utcnow() with timezone-aware version
  scripts/neo-init.py
Due: aios-security-scan

feat: add all 32 missing core agent skills (/doc, /dev, /architect, etc.)
  .claude/skills/architect/SKILL.md
  .claude/skills/data-engineer/SKILL.md
  .claude/skills/dev/SKILL.md
  .claude/skills/devops/SKILL.md
  .claude/skills/doc/SKILL.md
  .claude/skills/fixer/SKILL.md
  .claude/skills/master/SKILL.md
  .claude/skills/pm/SKILL.md
  .claude/skills/po/SKILL.md
  .claude/skills/qa-code/SKILL.md
  .claude/skills/qa/SKILL.md
  .claude/skills/ralph/SKILL.md
  .claude/skills/sec-ai-code-reviewer/SKILL.md
  .claude/skills/sec-api-access-tester/SKILL.md
  .claude/skills/sec-client-exposure-scanner/SKILL.md
  .claude/skills/sec-cors-csrf-checker/SKILL.md
  .claude/skills/sec-deploy-auditor/SKILL.md
  .claude/skills/sec-error-leak-detector/SKILL.md
  .claude/skills/sec-framework-scanner/SKILL.md
  .claude/skills/sec-header-inspector/SKILL.md
  .claude/skills/sec-injection-detector/SKILL.md
  .claude/skills/sec-jwt-auditor/SKILL.md
  .claude/skills/sec-rate-limit-tester/SKILL.md
  .claude/skills/sec-redirect-checker/SKILL.md
  .claude/skills/sec-rls-guardian/SKILL.md
  .claude/skills/sec-secret-scanner/SKILL.md
  .claude/skills/sec-supply-chain-monitor/SKILL.md
  .claude/skills/sec-upload-validator/SKILL.md
  .claude/skills/sec-validation-enforcer/SKILL.md
  .claude/skills/sec-xss-hunter/SKILL.md
  .claude/skills/sm/SKILL.md
  .claude/skills/spec/SKILL.md
  .claude/skills/staging/SKILL.md
Due: none

fix: update all skills to use neo-aios paths and naming
  .claude/skills/architect/SKILL.md
  .claude/skills/data-engineer/SKILL.md
  .claude/skills/dev/SKILL.md
  .claude/skills/devops/SKILL.md
  .claude/skills/doc/SKILL.md
  .claude/skills/fixer/SKILL.md
  .claude/skills/master/SKILL.md
  .claude/skills/pm/SKILL.md
  .claude/skills/po/SKILL.md
  .claude/skills/qa-code/SKILL.md
  .claude/skills/qa/SKILL.md
  .claude/skills/ralph/SKILL.md
  .claude/skills/sm/SKILL.md
  .claude/skills/spec/SKILL.md
Due: none

fix: remove all legacy references from skills (WSL, old names, old paths)
  .claude/skills/architect/SKILL.md
  .claude/skills/data-engineer/SKILL.md
  .claude/skills/dev/SKILL.md
  .claude/skills/devops/SKILL.md
  .claude/skills/doc/SKILL.md
  .claude/skills/master/SKILL.md
  .claude/skills/pm/SKILL.md
  .claude/skills/po/SKILL.md
  .claude/skills/qa-code/SKILL.md
  .claude/skills/qa/SKILL.md
  .claude/skills/sm/SKILL.md
  .claude/skills/spec/SKILL.md
Due: none

fix: stdin consumed by git/uv breaks interactive prompts
  scripts/install.sh
  scripts/neo-init.py
Due: aios-security-scan

feat: auto-create .env and .env.example during neo-init
  scripts/neo-init.py
Due: aios-security-scan

fix: add PROJECT BOUNDARY rule to prevent agents from leaving project dir
  .claude/CLAUDE.md
Due: none

fix: neo-init copies EVERYTHING, not partial framework
  scripts/neo-init.py
Due: aios-security-scan

fix: remove agents/ folder, consolidate all agents in .claude/skills/
  .claude/skills/analyst/SKILL.md
  .claude/skills/qa-functional/SKILL.md
  .claude/skills/sre/SKILL.md
  .claude/skills/ux/SKILL.md
  agents/aria/SKILL.md
  agents/codex/SKILL.md
  agents/dara/SKILL.md
  agents/dex/SKILL.md
  agents/gage/SKILL.md
  agents/morgan/SKILL.md
  agents/oracle/SKILL.md
  agents/orion/SKILL.md
  agents/pixel/SKILL.md
  agents/professor/SKILL.md
  agents/quinn/SKILL.md
  agents/ralph/SKILL.md
  agents/rune/SKILL.md
  agents/sage/SKILL.md
  agents/sec-ai-code-reviewer/SKILL.md
  agents/sec-api-access-tester/SKILL.md
  agents/sec-client-exposure-scanner/SKILL.md
  agents/sec-cors-csrf-checker/SKILL.md
  agents/sec-deploy-auditor/SKILL.md
  agents/sec-error-leak-detector/SKILL.md
  agents/sec-framework-scanner/SKILL.md
  agents/sec-header-inspector/SKILL.md
  agents/sec-injection-detector/SKILL.md
  agents/sec-jwt-auditor/SKILL.md
  agents/sec-rate-limit-tester/SKILL.md
  agents/sec-redirect-checker/SKILL.md
  agents/sec-rls-guardian/SKILL.md
  agents/sec-secret-scanner/SKILL.md
  agents/sec-supply-chain-monitor/SKILL.md
  agents/sec-upload-validator/SKILL.md
  agents/sec-validation-enforcer/SKILL.md
  agents/sec-xss-hunter/SKILL.md
  agents/tess/SKILL.md
  scripts/neo-init.py
Due: aios-security-scan

refactor: clean project structure — system hidden, workspace organized
  .claude/CLAUDE.md
  .claude/rules/CLAUDE_CODE_RESTRICTIONS.md
  .claude/rules/output-paths.md
  .gitignore
  scripts/neo-init.py
Due: aios-security-scan

feat: add SessionStart hook to inject current date
  .claude/hooks/inject-current-date.py
  .claude/settings.json
Due: aios-security-scan

feat: add statusline auto-install to neo-init
  .claude/setup/settings.json
  scripts/neo-init.py
  scripts/statusline-custom.sh
Due: aios-security-scan

fix: add missing agents to statusline mapping
  scripts/statusline-custom.sh
Due: none

fix: statusline walks up directory tree to find session-state.json
  scripts/statusline-custom.sh
Due: none

fix: complete statusline agent mapping + remove stale session-state
  scripts/statusline-custom.sh
Due: none

fix: statusline shows real remaining context from Claude Code
  scripts/statusline-custom.sh
Due: none

fix: correct context percentage to match auto-compact threshold
  scripts/statusline-custom.sh
Due: none

fix: adjust context percentage to match /context free space
  scripts/statusline-custom.sh
Due: none

fix: show raw remaining percentage without buffer correction
  scripts/statusline-custom.sh
Due: none

fix: align browser MCP package between neo-init and aios mcp
  scripts/neo-init.py
Due: aios-security-scan

feat: integrate Shannon DAST as 19th security agent (Wraith)
  .claude/CLAUDE.md
  .claude/rules/output-paths.md
  .claude/skills/qa/SKILL.md
  .claude/skills/shannon/SKILL.md
  .gitignore
  .gitmodules
  config/shannon.yaml
  reports/security/shannon/.gitkeep
  tools/scripts/run-shannon.sh
Due: none

feat: add ecosystem improvements from claude-code research
  .aios-custom/config/blind-validation.yaml
  .aios-custom/config/ecomode.yaml
  .claude/hooks/skill-auto-suggest.py
  .claude/hooks/skill-rules.json
  .gitmodules
  .mcp.json
  docs/architecture/ecomode-and-blind-validation.md
  docs/architecture/mcp-setup.md
  scripts/neo-init.py
  src/aios/intelligence/ecomode.py
  src/aios/quality/blind_validation.py
  tests/test_intelligence/test_ecomode.py
  tests/test_quality/test_blind_validation.py
Due: aios-security-scan, pytest-check

refactor: remove Shannon DAST agent (requires paid API)
  .claude/CLAUDE.md
  .claude/rules/output-paths.md
  .claude/skills/qa/SKILL.md
  .claude/skills/shannon/SKILL.md
  config/shannon.yaml
  tools/scripts/run-shannon.sh
Due: none

docs: add session handoff 2026-02-06
  docs/sessions/2026-02/2026-02-06-handoff.md
Due: none

fix: always generate .mcp.json regardless of npx availability
  scripts/neo-init.py
Due: aios-security-scan

fix: use claude mcp add for proper MCP registration
  scripts/neo-init.py
Due: aios-security-scan

feat: add pipeline module with dependency graph, isolated steps, and model routing
  .aios-custom/config/pipeline-config.yaml
  .aios-custom/config/step-registry.yaml
  src/aios/context/session.py
  src/aios/intelligence/router.py
  src/aios/pipeline/__init__.py
  src/aios/pipeline/cost_models.py
  src/aios/pipeline/executor.py
  src/aios/pipeline/manager.py
  src/aios/pipeline/models.py
  src/aios/pipeline/registry.py
  src/aios/pipeline/step_models.py
  src/aios/pipeline/templates/isolated-step-prompt.md
  tests/test_intelligence/test_router.py
  tests/test_pipeline/__init__.py
  tests/test_pipeline/test_cost_models.py
  tests/test_pipeline/test_executor.py
  tests/test_pipeline/test_manager.py
  tests/test_pipeline/test_models.py
  tests/test_pipeline/test_registry.py
  tests/test_pipeline/test_step_models.py
Due: aios-security-scan, pytest-check

docs: update README, CHANGELOG, API docs, and quality gates for pipeline module
  .aios-custom/config/quality-gates.yaml
  CHANGELOG.md
  README.md
  docs/api/README.md
Due: none
